.container {
  padding: 1rem;
  flex: start;
}
.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(42, 49, 49);
}
.card {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: blanchedalmond;
  max-width: 300px;
}
.main {
  background-color: rgb(136, 134, 132);
}
.imgsize {
  width: 18rem;
  transform: translate(-10px);
}
.header {
  height: 100px;
  background-color: bisque;
}
.footer {
  background-color: bisque;
}
.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
