<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watch List</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="header">
      <h1>Movie</h1>
      <div>
        <div class="watch" *ngFor="let movie of selectedMovie">
          <button (click)="goBack(movie.id)">Home</button>
        </div>
      </div>
    </div>

    <div class="cont" *ngFor="let movie of selectedMovie">
      <mat-card class="card">
        <mat-grid-list cols="3" rowHeight="1:1">
          <mat-grid-tile>
            <img class="pic" src="{{ movie.picture }}" alt="moviepic" />
          </mat-grid-tile>
          <mat-grid-tile class="details">
            <mat-card class="card"></mat-card>
            <mat-card class="card"></mat-card>
            <div class="row">
              <h2>{{ movie.title }}</h2>
              <p>
                {{ movie.description }}
              </p>
              <p>Rating: {{ movie.rating }}</p>
              <p>Duration: {{ movie.duration }}</p>
              <p>Genre: {{ movie.genre }}</p>
              <p>Released Date: {{ movie.released }}</p>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <div class="vid">
          <h1>Trailer</h1>

          <iframe
            height="1000"
            width="1500"
            src="https://www.youtube.com/embed/LdOM0x0XDMo"
            *ngIf="movie.id === 1"
          ></iframe>
          <iframe
            height="1000"
            width="1500"
            src="https://www.youtube.com/embed/tg52up16eq0"
            *ngIf="movie.id === 2"
          ></iframe>
          <iframe
            height="1000"
            width="1500"
            src="https://www.youtube.com/embed/qGqiHJTsRkQ"
            *ngIf="movie.id === 3"
          ></iframe>
          <iframe
            height="1000"
            width="1500"
            src="https://www.youtube.com/embed/d96cjJhvlMA"
            *ngIf="movie.id === 4"
          ></iframe>
          <iframe
            height="1000"
            width="1500"
            width="1000px"
            src="https://www.youtube.com/embed/tmeOjFno6Do"
            *ngIf="movie.id === 5"
          ></iframe>
        </div>
      </mat-card>
    </div>
    <footer>
      <h1>Developed By: Jofer Fernandez</h1>
    </footer>
  </body>
</html>
